DB_USER=postgres
DB_PASSWORD=example
DB_HOST=db
DB_PORT=5432
DB_NAME=bot
DB_URL=${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

REDIS_HOST=redis
REDIS_PORT=6379

APP_IMAGE_NAME=your_image
DB_IMAGE_NAME=your_image

BINANCE_API_KEY=your_key
BINANCE_API_SECRET=your_secret

BYBIT_API_KEY=your_key
BYBIT_API_SECRET=your_secret

OKX_API_KEY=your_key
OKX_API_SECRET=your_secret
OKX_API_PASSPHRASE=your_passphrase

GOOGLE_SPREADSHEET_ID=your_spreadsheet_id
